.podcast-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin: 20px;
}


.podcast-details-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: flex-start;
}


.podcast-details-hr {
  border-top: 1px solid grey;
  width: 100%;
  margin: 20px 0;
}

.podcast-details-card p {
  margin: 0 0 10px 0;
  text-align: left;
}


.podcast-details-card img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.podcast-details-card .description {
  text-align: left;
  margin-top: 10px;
  padding-left: 0;
}


.podcast-episodes {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 4px;
  width: 50%;
  height: auto;
  margin-left: 50px;
}

.podcast-card-episodes {
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2px;
  font-size: 0.9em;
}


.podcast-card-episodes h2 {
  font-size: 1.6em;
  margin: 0;
  padding: 8px;
  font-weight: bold;
}


.podcast-episodes-list {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;

}

.episodes-table {
  width: 100%;
  height: auto;
  border-collapse: collapse;
}

.episodes-table td {
  padding-top: 12px;
  text-align: left;
  font-size: 0.9em;

}

.episodes-table th {
  font-weight: bold;
}

.episodes-table td {
  background-color: #fff;
  padding: 10px 0px;
}

.episodes-table a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9em;

}


.episodes-table tr {
  border-bottom: 1px solid #ddd;
}


hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 20px 0;
}